@import url(../../css/troweling.css);
@import url(../../css/bootstrap.min.css);
@import "https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.css";
@import url(../../css/swiper-bundle.min.css);
@import "https://common.zwwltkl.com/fonts/pingfang/pingfang.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.38px;
  font-family: Microsoft YaHei Regular; }

.container {
  padding: 0; }

.row {
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

.homr,
.introduce,
.about {
  width: 100%;
  position: relative; }

button {
  outline: none !important; }

.content_title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 46px; }
  .content_title div {
    position: relative; }
    .content_title div img {
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 24%;
      height: auto; }
    .content_title div h1 {
      padding: 0;
      margin: 0;
      color: #333333;
      font-size: 32px;
      font-weight: bold;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular; }
    .content_title div section {
      margin-top: 18px;
      font-size: 14px;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
      font-weight: 400;
      color: #9b9b9b; }

@media (max-width: 992px) {
  .content_title div img {
    width: 30%; }
  .content_title div h1 {
    font-size: 28px; } }
@media (max-width: 768px) {
  .content_title {
    padding-top: 40px;
    padding-bottom: 36px; }
    .content_title div h1 {
      font-size: 24px; } }
@media (max-width: 640px) {
  .content_title div img {
    width: 40%; }
  .content_title div h1 {
    font-size: 24px; } }
@media (max-width: 440px) {
  .content_title {
    padding-bottom: 26px; }
    .content_title div img {
      width: 50%; }
    .content_title div h1 {
      font-size: 24px; }
    .content_title div section {
      font-size: 12px; } }
.nav_index {
  font-size: 20px;
  height: 70px;
  background-color: #f82424;
  border: none;
  border-bottom: 0.1px solid rgba(192, 192, 192, 0.4); }
  .nav_index .container {
    padding: 0; }
    .nav_index .container .container-fluid .navbar-header .navbar_phone {
      display: none; }
    .nav_index .container .container-fluid .navbar-header .navbar-brand .nav_logo {
      width: 130px;
      height: auto; }
    .nav_index .container .container-fluid .navbar-collapse .navbar-nav li {
      padding: 0;
      margin: 0;
      margin-left: 66px;
      height: 70px; }
      .nav_index .container .container-fluid .navbar-collapse .navbar-nav li a {
        color: #ffffff;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 12px; }
    .nav_index .container .container-fluid .navbar-collapse .navbar-nav li:hover {
      color: #ffffff; }

.complement {
  height: 50px;
  display: none; }

@media (max-width: 992px) {
  .nav_index .container .container-fluid .navbar-header {
    display: none; } }
@media (max-width: 768px) {
  .nav_index {
    height: 52px;
    border: none; }
    .nav_index .container .container-fluid .navbar-header {
      display: block; }
      .nav_index .container .container-fluid .navbar-header .navbar_phone {
        position: absolute;
        right: 70px;
        top: -3px;
        display: inline-block;
        color: #f82424; }
        .nav_index .container .container-fluid .navbar-header .navbar_phone button {
          height: 28px;
          line-height: 8px; }
          .nav_index .container .container-fluid .navbar-header .navbar_phone button a {
            color: #f82424; }
        .nav_index .container .container-fluid .navbar-header .navbar_phone button:hover a {
          text-decoration: none; }
      .nav_index .container .container-fluid .navbar-header .navbar-brand .nav_logo {
        width: 100px;
        transform: translate(10px, -4px); }
      .nav_index .container .container-fluid .navbar-header .navbar_switch .icon-bar {
        background-color: #ffffff; }
    .nav_index .container .container-fluid .navbar-collapse {
      background-color: #ffffff; }
      .nav_index .container .container-fluid .navbar-collapse .navbar-nav li {
        margin-left: 66px;
        height: 50px;
        color: #333;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba(192, 192, 192, 0.4); }
        .nav_index .container .container-fluid .navbar-collapse .navbar-nav li a {
          margin: 0;
          padding: 0;
          line-height: 46px;
          color: #333;
          padding-left: 10%; }
      .nav_index .container .container-fluid .navbar-collapse .navbar-nav li:nth-child(5) {
        border: none; }

  .complement {
    display: block; } }
.nav_bg {
  background-color: #f82424 !important; }

.is_true_Underline a {
  border-bottom: 2px solid #ffffff; }

.home_slides {
  position: relative; }
  .home_slides #carousel-example-generic .carousel-inner .item img {
    width: 100%;
    height: 700px; }
  .home_slides .form {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 21px 8px rgba(56, 56, 0, 0.08);
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
    padding: 5px 20px; }
    .home_slides .form .from_list {
      display: flex;
      flex-wrap: wrap;
      padding-top: 24px;
      padding-bottom: 18px; }
      .home_slides .form .from_list .form-group {
        margin-left: 30px;
        width: 210px; }
        .home_slides .form .from_list .form-group input {
          margin-top: 10px;
          color: #CECECE; }
        .home_slides .form .from_list .form-group input:focus {
          border: 1px solid #f82424;
          box-shadow: 0px 0px 1px 1px #f82424; }
        .home_slides .form .from_list .form-group .help-block {
          color: #f82424; }
        .home_slides .form .from_list .form-group input::-webkit-input-placeholder {
          color: #CECECE; }
        .home_slides .form .from_list .form-group input::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: #CECECE; }
        .home_slides .form .from_list .form-group input:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: #CECECE; }
        .home_slides .form .from_list .form-group input:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #CECECE; }
        .home_slides .form .from_list .form-group .form_type {
          display: block; }
        .home_slides .form .from_list .form-group select {
          outline: none !important; }
        .home_slides .form .from_list .form-group .form_inp {
          margin-top: 14px;
          display: block;
          width: 100%;
          height: 34px;
          color: #CECECE;
          border: 1px solid #CECECE;
          border-radius: 5px;
          padding-left: 10px; }
      .home_slides .form .from_list #submit_btn {
        margin-top: 10px;
        margin-left: 30px;
        width: 100px;
        height: 40px;
        line-height: 16px;
        background-color: #f82424;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        border: none;
        outline: none !important; }

.result {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9; }
  .result .pop {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 260px;
    border-radius: 35px;
    background-color: #ffffff;
    box-shadow: 0px 0px 21px 8px rgba(56, 56, 0, 0.08);
    text-align: center; }
    .result .pop .pop_title {
      width: 200px;
      height: auto;
      transform: translate(0, -100px); }
    .result .pop h2 {
      font-weight: 400;
      text-align: center;
      font-size: 32px;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
      font-weight: 400;
      color: #333333;
      transform: translate(0, -130px); }
    .result .pop p {
      padding: 0 76px;
      text-align: center;
      color: #ff3333;
      transform: translate(0, -130px); }
    .result .pop .btn {
      width: 70%;
      height: 45px;
      background: linear-gradient(#ff3333 0%, #ff4c4c 100%);
      border-radius: 25px;
      font-size: 19px;
      font-weight: 400;
      text-align: center;
      color: #ffffff;
      transform: translate(0, -130px); }

.on {
  display: block; }

@media (max-width: 992px) {
  .home_slides .form {
    bottom: -23%; } }
@media (max-width: 768px) {
  .home_slides #carousel-example-generic .carousel-inner .item img {
    width: 100%;
    height: auto; }
  .home_slides .form {
    display: none; } }
.prospect {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 70px;
  background-color: #ffffff; }
  .prospect .container .prospect_down .item {
    padding: 0;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center; }
    .prospect .container .prospect_down .item .image {
      margin: 0 auto;
      width: 77px;
      height: 77px;
      background-color: #f70c0c;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .prospect .container .prospect_down .item .image img {
        width: 60%;
        height: auto; }
    .prospect .container .prospect_down .item h2 {
      margin-top: 20px;
      font-size: 24px;
      font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
      font-weight: 700;
      color: #333333; }
    .prospect .container .prospect_down .item section {
      margin-top: 20px;
      padding: 0 20px;
      font-size: 16px;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
      font-weight: 400;
      color: #666666;
      line-height: 24px; }

@media (max-width: 768px) {
  .prospect {
    padding-bottom: 30px;
    padding-top: 0; }
    .prospect .container .prospect_down .item {
      padding-top: 30px;
      padding-bottom: 10px; }
      .prospect .container .prospect_down .item .image {
        width: 44px;
        height: 44px; }
      .prospect .container .prospect_down .item h2 {
        margin-top: 20px;
        font-size: 20px; }
      .prospect .container .prospect_down .item section {
        margin-top: 20px;
        padding: 0 20px;
        font-size: 14px; }
    .prospect .container .prospect_down .item:nth-child(1),
    .prospect .container .prospect_down .item:nth-child(2) {
      padding-top: 10px; } }
.profit {
  width: 100%;
  padding-bottom: 70px; }
  .profit .container .profit_down {
    position: relative; }
    .profit .container .profit_down img {
      width: 33%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .profit .container .profit_down .profit_down_one,
    .profit .container .profit_down .profit_down_two {
      padding: 0; }
      .profit .container .profit_down .profit_down_one .item,
      .profit .container .profit_down .profit_down_two .item {
        padding: 0;
        margin: 0;
        position: relative; }
        .profit .container .profit_down .profit_down_one .item div h2,
        .profit .container .profit_down .profit_down_two .item div h2 {
          font-size: 24px;
          font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
          font-weight: 700;
          color: #f70c0c; }
        .profit .container .profit_down .profit_down_one .item div section,
        .profit .container .profit_down .profit_down_two .item div section {
          margin-top: 14px;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #666666; }
      .profit .container .profit_down .profit_down_one .item:nth-child(1),
      .profit .container .profit_down .profit_down_two .item:nth-child(1) {
        text-align: right;
        padding-right: 20px; }
      .profit .container .profit_down .profit_down_one .item:nth-child(3),
      .profit .container .profit_down .profit_down_two .item:nth-child(3) {
        text-align: left;
        padding-left: 20px; }
    .profit .container .profit_down .profit_down_two {
      margin-top: 80px; }

@media (max-width: 768px) {
  .profit {
    padding: 0 5%;
    padding-bottom: 30px; }
    .profit .container .profit_down {
      position: relative; }
      .profit .container .profit_down img {
        display: none; }
      .profit .container .profit_down .profit_down_one,
      .profit .container .profit_down .profit_down_two {
        padding: 0; }
        .profit .container .profit_down .profit_down_one .item,
        .profit .container .profit_down .profit_down_two .item {
          margin-top: 10px; }
          .profit .container .profit_down .profit_down_one .item div h2,
          .profit .container .profit_down .profit_down_two .item div h2 {
            font-size: 24px; }
          .profit .container .profit_down .profit_down_one .item div section,
          .profit .container .profit_down .profit_down_two .item div section {
            margin-top: 14px;
            font-size: 16px;
            line-height: 24px; }
        .profit .container .profit_down .profit_down_one .item:nth-child(1),
        .profit .container .profit_down .profit_down_two .item:nth-child(1) {
          text-align: center;
          padding-right: 0; }
        .profit .container .profit_down .profit_down_one .item:nth-child(3),
        .profit .container .profit_down .profit_down_two .item:nth-child(3) {
          text-align: center;
          padding-left: 0; }
      .profit .container .profit_down .profit_down_two {
        margin-top: 0; } }
.agent {
  width: 100%;
  padding-bottom: 70px; }
  .agent .container .agent_dowm {
    padding: 0;
    text-align: center; }
    .agent .container .agent_dowm .item {
      padding: 0;
      text-align: center; }
      .agent .container .agent_dowm .item img {
        margin: 0 auto;
        border: 1px solid #f70c0c;
        width: 100%;
        height: auto; }
      .agent .container .agent_dowm .item .agent_bg_pc {
        display: block; }
      .agent .container .agent_dowm .item .agent_bg_phone {
        display: none; }

@media (max-width: 768px) {
  .agent {
    padding-bottom: 30px; }
    .agent .container .agent_dowm .item {
      padding: 0;
      text-align: center; }
      .agent .container .agent_dowm .item img {
        width: 90%;
        height: auto; }
      .agent .container .agent_dowm .item .agent_bg_pc {
        display: none; }
      .agent .container .agent_dowm .item .agent_bg_phone {
        display: block; } }
.support {
  width: 100%;
  padding-bottom: 70px; }
  .support .container .support_down {
    padding: 0; }
    .support .container .support_down .item {
      padding: 0; }
      .support .container .support_down .item div {
        background: #ffffff;
        border-radius: 9px;
        box-shadow: 8px 8px 28px 0px rgba(247, 53, 53, 0.16);
        padding: 26px 34px; }
        .support .container .support_down .item div h2 {
          margin: 0;
          padding: 0;
          font-size: 24px;
          font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
          font-weight: 600;
          text-align: left;
          color: #222222;
          line-height: 19px; }
        .support .container .support_down .item div section {
          margin-top: 16px;
          font-size: 16px;
          font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
          font-weight: 400;
          text-align: left;
          color: #222222;
          line-height: 19px; }
      .support .container .support_down .item img {
        width: 100%;
        height: auto; }
    .support .container .support_down .item:nth-child(1) .item_top {
      transform: translate(30px, 20px); }
    .support .container .support_down .item:nth-child(1) .item_down {
      transform: translate(60px, 100px); }
    .support .container .support_down .item:nth-child(2) {
      z-index: -1; }
    .support .container .support_down .item:nth-child(3) .item_top {
      transform: translate(-40px, 0); }
    .support .container .support_down .item:nth-child(3) .item_down {
      transform: translate(-60px, 120px); }

@media (max-width: 768px) {
  .support {
    padding: 0 5%;
    padding-bottom: 30px; }
    .support .container .support_down .item div {
      margin-top: 20px;
      padding: 20px 34px; }
      .support .container .support_down .item div h2 {
        font-size: 24px;
        line-height: 19px; }
      .support .container .support_down .item div section {
        margin-top: 16px;
        font-size: 16px;
        line-height: 19px; }
    .support .container .support_down .item img {
      width: 100%; }
    .support .container .support_down .item:nth-child(1) .item_top {
      transform: translate(0, 0); }
    .support .container .support_down .item:nth-child(1) .item_down {
      transform: translate(0, 0); }
    .support .container .support_down .item:nth-child(2) {
      z-index: -1;
      display: none; }
    .support .container .support_down .item:nth-child(3) div {
      margin-left: 0; }
    .support .container .support_down .item:nth-child(3) .item_top {
      transform: translate(0, 0); }
    .support .container .support_down .item:nth-child(3) .item_down {
      transform: translate(0, 0); } }
.signinggags {
  width: 100%;
  padding-bottom: 70px; }
  .signinggags .container .signinggags_down .swiper-container .swiper-wrapper {
    transition-timing-function: linear; }
    .signinggags .container .signinggags_down .swiper-container .swiper-wrapper .swiper-slide {
      padding: 0;
      text-align: center; }
      .signinggags .container .signinggags_down .swiper-container .swiper-wrapper .swiper-slide img {
        margin-top: 20px;
        width: 96%;
        height: auto;
        border-radius: 10px; }
  .signinggags .container .signinggags_down .swiper-container .down_operation {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    text-align: center; }
    .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_left {
      outline: none !important;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #f82424;
      cursor: pointer;
      margin-right: 30px;
      padding-top: 10px; }
      .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_left img {
        margin: 0 auto;
        width: 30%;
        height: auto; }
    .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_center {
      line-height: 50px;
      width: 200px;
      border: 1px solid  #f70c0c;
      font-size: 24px;
      border-radius: 50px;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
      font-weight: 400;
      color: #f70c0c;
      letter-spacing: 3px; }
    .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_right {
      margin-left: 30px;
      outline: none !important;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #f82424;
      cursor: pointer;
      padding-top: 10px; }
      .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_right img {
        margin: 0 auto;
        width: 30%;
        height: auto; }

@media (max-width: 768px) {
  .signinggags {
    padding: 0 5%; }
    .signinggags .container .signinggags_down .swiper-container .swiper-wrapper {
      transition-timing-function: linear; }
      .signinggags .container .signinggags_down .swiper-container .swiper-wrapper .swiper-slide {
        padding: 0;
        text-align: center; }
        .signinggags .container .signinggags_down .swiper-container .swiper-wrapper .swiper-slide img {
          margin-top: 20px;
          width: 90%;
          height: auto; }
    .signinggags .container .signinggags_down .swiper-container .down_operation {
      margin-bottom: 30px; }
      .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_left {
        width: 30px;
        height: 30px;
        padding-top: 6px; }
      .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_center {
        line-height: 30px;
        width: 160px;
        font-size: 16px; }
      .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_right {
        width: 30px;
        height: 30px;
        padding-top: 6px; } }
.apply {
  width: 100%;
  padding-bottom: 70px;
  background-color: #feefef; }
  .apply .container .apply_down {
    position: relative; }
    .apply .container .apply_down .item {
      padding: 0;
      margin: 0;
      text-align: center;
      z-index: 5; }
      .apply .container .apply_down .item div {
        margin: 0 auto;
        padding: 0;
        margin-bottom: 10px;
        border: 1px solid #f70c0c;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .apply .container .apply_down .item div h1 {
          margin: 0;
          padding: 0;
          text-align: center;
          padding-top: 22px;
          background-color: #f70c0c;
          border-radius: 50%;
          width: 75px;
          height: 75px;
          font-size: 26px;
          font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
          font-weight: 700;
          color: #ffffff; }
      .apply .container .apply_down .item section {
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 500;
        text-align: center;
        color: #de2226; }
    .apply .container .apply_down .line {
      position: absolute;
      top: 28%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
      border-bottom: 5px dashed #de2226; }
    .apply .container .apply_down .line1 {
      position: absolute;
      top: 28%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
      border-bottom: 5px dashed #de2226;
      display: none; }
    .apply .container .apply_down .line2 {
      position: absolute;
      top: 28%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
      border-bottom: 5px dashed #de2226;
      display: none; }

@media (max-width: 768px) {
  .apply {
    padding-bottom: 30px; }
    .apply .container .apply_down {
      position: relative; }
      .apply .container .apply_down .item {
        margin-top: 20px; }
        .apply .container .apply_down .item div {
          margin: 0 auto;
          margin-bottom: 10px;
          width: 60px;
          height: 60px; }
          .apply .container .apply_down .item div h1 {
            padding-top: 10px;
            width: 45px;
            height: 45px;
            font-size: 22px; }
        .apply .container .apply_down .item section {
          margin-top: 8px;
          font-size: 18px; }
      .apply .container .apply_down .line {
        display: none; }
      .apply .container .apply_down .line1 {
        display: block;
        position: absolute;
        top: 19%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        border-bottom: 5px dashed #de2226; }
      .apply .container .apply_down .line2 {
        display: block;
        position: absolute;
        top: 68%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        border-bottom: 5px dashed #de2226; } }
.brand {
  width: 100%;
  padding-bottom: 70px; }
  .brand .container .brand_down .item {
    text-align: center;
    margin-top: 20px; }
    .brand .container .brand_down .item img {
      border: 1PX solid #cecece;
      width: 100%;
      height: auto; }
  .brand .container .brand_down .item:nth-child(1), .brand .container .brand_down .item:nth-child(2), .brand .container .brand_down .item:nth-child(3), .brand .container .brand_down .item:nth-child(4), .brand .container .brand_down .item:nth-child(5), .brand .container .brand_down .item:nth-child(6) {
    margin-top: 00px; }

@media (max-width: 768px) {
  .brand {
    padding: 0 5%;
    padding-bottom: 30px; }
    .brand .container .brand_down .item img {
      width: 100%; }
    .brand .container .brand_down .item:nth-child(4), .brand .container .brand_down .item:nth-child(5), .brand .container .brand_down .item:nth-child(6) {
      margin-top: 20px; } }
.footer {
  width: 100%; }
  .footer .footer_top {
    margin: 0;
    padding: 0;
    position: relative; }
    .footer .footer_top img {
      width: 100%;
      height: 360px; }
    .footer .footer_top .footer_top_content {
      position: absolute;
      top: 34%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .footer .footer_top .footer_top_content h1 {
        text-align: center;
        font-size: 36px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400;
        color: #ffffff; }
      .footer .footer_top .footer_top_content .btn {
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 32px;
        padding: 6px 40px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400;
        border: 1px solid #f82424;
        border-radius: 50px;
        color: #f82424;
        background-color: #ffffff; }
        .footer .footer_top .footer_top_content .btn a {
          color: #f82424;
          text-decoration: none; }
  .footer .footer_down {
    background-color: #1c1e2b;
    margin: 0;
    padding: 0;
    margin-top: -2px; }
    .footer .footer_down .container .footer_middle {
      padding-top: 60px; }
      .footer .footer_down .container .footer_middle .footer_middle_left .logo {
        width: 150px;
        height: auto; }
      .footer .footer_down .container .footer_middle .footer_middle_left h4 {
        margin-top: 20px;
        font-size: 16px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400;
        text-align: left;
        color: #ffffff; }
      .footer .footer_down .container .footer_middle .footer_middle_left .code {
        margin-top: 20px;
        width: 100px;
        height: auto; }
      .footer .footer_down .container .footer_middle .footer_middle_left section {
        margin-top: 20px;
        font-size: 16px;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-weight: 700;
        text-align: left;
        color: #ffffff; }
      .footer .footer_down .container .footer_middle .footer_middle_center {
        display: flex; }
        .footer .footer_down .container .footer_middle .footer_middle_center ul {
          margin-top: 10px; }
          .footer .footer_down .container .footer_middle .footer_middle_center ul li {
            width: 100px;
            margin-left: 50px;
            margin-top: 10px;
            font-size: 16px;
            font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
            font-weight: 700;
            text-align: left; }
            .footer .footer_down .container .footer_middle .footer_middle_center ul li a {
              text-decoration: none;
              color: #999999; }
          .footer .footer_down .container .footer_middle .footer_middle_center ul li:hover a {
            color: #999999; }
          .footer .footer_down .container .footer_middle .footer_middle_center ul li:nth-child(1) a {
            color: #ffffff; }
          .footer .footer_down .container .footer_middle .footer_middle_center ul li:nth-child(2) {
            margin-top: 20px; }
      .footer .footer_down .container .footer_middle .footer_middle_right {
        display: flex; }
        .footer .footer_down .container .footer_middle .footer_middle_right ul {
          margin-top: 10px; }
          .footer .footer_down .container .footer_middle .footer_middle_right ul li {
            margin-left: 50px;
            max-width: 200px;
            margin-top: 10px;
            font-size: 16px;
            font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
            font-weight: 700;
            text-align: left; }
            .footer .footer_down .container .footer_middle .footer_middle_right ul li a {
              text-decoration: none;
              color: #ffffff; }
          .footer .footer_down .container .footer_middle .footer_middle_right ul li:hover a {
            color: #ffffff; }
          .footer .footer_down .container .footer_middle .footer_middle_right ul li:nth-child(2) {
            margin-top: 18px; }
        .footer .footer_down .container .footer_middle .footer_middle_right ul:nth-child(1) li {
          color: #999999; }
          .footer .footer_down .container .footer_middle .footer_middle_right ul:nth-child(1) li a {
            color: #999999; }
        .footer .footer_down .container .footer_middle .footer_middle_right ul:nth-child(1) li:nth-child(1) {
          color: #ffffff; }
          .footer .footer_down .container .footer_middle .footer_middle_right ul:nth-child(1) li:nth-child(1) a {
            color: #ffffff; }
        .footer .footer_down .container .footer_middle .footer_middle_right ul:nth-child(2) li {
          margin-left: 50px; }
    .footer .footer_down .container .footer_last {
      margin-top: 50px;
      padding-bottom: 40px;
      font-size: 12px;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
      font-weight: bold;
      text-align: center;
      color: #999999;
      line-height: 32px;
      letter-spacing: 1px; }

@media (max-width: 992px) {
  .footer .footer_top .footer_top_content h1 {
    font-size: 30px; }
  .footer .footer_top .footer_top_content .btn {
    font-size: 26px;
    padding: 6px 40px; }
  .footer .footer_down .container .footer_middle .footer_middle_left h4 {
    margin-top: 20px;
    font-size: 16px; }
  .footer .footer_down .container .footer_middle .footer_middle_center ul {
    margin-top: 10px; }
  .footer .footer_down .container .footer_middle .footer_middle_right {
    margin-top: 20px; }
    .footer .footer_down .container .footer_middle .footer_middle_right ul {
      margin-top: 10px; } }
@media (max-width: 780px) {
  .footer .footer_down {
    padding: 0 4%; } }
@media (max-width: 768px) {
  .footer .footer_top {
    display: none; }
  .footer .footer_down .container .footer_middle {
    padding-top: 60px; }
    .footer .footer_down .container .footer_middle .footer_middle_left {
      padding-left: 40px; }
    .footer .footer_down .container .footer_middle .footer_middle_center {
      display: none;
      margin-top: 10px; }
      .footer .footer_down .container .footer_middle .footer_middle_center ul li {
        margin-left: 20px; }
    .footer .footer_down .container .footer_middle .footer_middle_right ul {
      padding: 0;
      margin: 0; }
      .footer .footer_down .container .footer_middle .footer_middle_right ul li {
        padding: 0;
        margin: 0;
        margin-left: 0 !important;
        max-width: 330px;
        padding-left: 26px; }
    .footer .footer_down .container .footer_middle .footer_middle_right ul:nth-child(1) {
      display: none; } }
.scroll-nav {
  position: fixed;
  top: 20%;
  right: 0;
  width: 80px;
  background: #fff;
  z-index: 200; }
  .scroll-nav .nav-stacked li {
    height: 100px;
    font-size: 12px;
    text-align: center; }
    .scroll-nav .nav-stacked li a {
      color: #fff;
      padding: 22px 15px;
      border-radius: 0;
      background-color: initial; }
      .scroll-nav .nav-stacked li a img {
        width: 30px;
        margin-bottom: 10px; }
    .scroll-nav .nav-stacked li .qrCodeImg {
      display: none;
      height: 100px;
      position: relative;
      right: 105px;
      bottom: 101px; }
      .scroll-nav .nav-stacked li .qrCodeImg img {
        width: 101px;
        height: 101px; }
    .scroll-nav .nav-stacked li .phone {
      position: relative;
      bottom: 60px;
      left: 80px;
      color: white;
      font-size: 15px;
      text-align: left; }
  .scroll-nav .nav-stacked li:hover .qrCodeImg {
    display: block; }
  .scroll-nav .nav-stacked .phone_side {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    width: 190px;
    right: 0px; }
    .scroll-nav .nav-stacked .phone_side a {
      width: 80px; }
  .scroll-nav .nav-stacked .phone_side:hover {
    right: 110px; }
  .scroll-nav .nav-stacked .top_side {
    background: #ABABAB; }
  .scroll-nav .bg_WeChat {
    background: #5ad94c; }
  .scroll-nav .bg_officialaccount {
    background: #f5a623; }
  .scroll-nav .bg_phone {
    background: #4a90e2; }

/*# sourceMappingURL=index.css.map */
