.signinggags {
  width: 100%;
  padding-bottom: 70px; }
  .signinggags .container .signinggags_down .swiper-container .swiper-wrapper {
    transition-timing-function: linear; }
    .signinggags .container .signinggags_down .swiper-container .swiper-wrapper .swiper-slide {
      padding: 0;
      text-align: center; }
      .signinggags .container .signinggags_down .swiper-container .swiper-wrapper .swiper-slide img {
        margin-top: 20px;
        width: 96%;
        height: auto;
        border-radius: 10px; }
  .signinggags .container .signinggags_down .swiper-container .down_operation {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    text-align: center; }
    .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_left {
      outline: none !important;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #f82424;
      cursor: pointer;
      margin-right: 30px;
      padding-top: 10px; }
      .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_left img {
        margin: 0 auto;
        width: 30%;
        height: auto; }
    .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_center {
      line-height: 50px;
      width: 200px;
      border: 1px solid  #f70c0c;
      font-size: 24px;
      border-radius: 50px;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
      font-weight: 400;
      color: #f70c0c;
      letter-spacing: 3px; }
    .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_right {
      margin-left: 30px;
      outline: none !important;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #f82424;
      cursor: pointer;
      padding-top: 10px; }
      .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_right img {
        margin: 0 auto;
        width: 30%;
        height: auto; }

@media (max-width: 768px) {
  .signinggags {
    padding: 0 5%; }
    .signinggags .container .signinggags_down .swiper-container .swiper-wrapper {
      transition-timing-function: linear; }
      .signinggags .container .signinggags_down .swiper-container .swiper-wrapper .swiper-slide {
        padding: 0;
        text-align: center; }
        .signinggags .container .signinggags_down .swiper-container .swiper-wrapper .swiper-slide img {
          margin-top: 20px;
          width: 90%;
          height: auto; }
    .signinggags .container .signinggags_down .swiper-container .down_operation {
      margin-bottom: 30px; }
      .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_left {
        width: 30px;
        height: 30px;
        padding-top: 6px; }
      .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_center {
        line-height: 30px;
        width: 160px;
        font-size: 16px; }
      .signinggags .container .signinggags_down .swiper-container .down_operation .down_operation_right {
        width: 30px;
        height: 30px;
        padding-top: 6px; } }

/*# sourceMappingURL=signinggags.css.map */
