.advantage {
  width: 100%;
  padding-bottom: 70px; }
  .advantage .container .advantage_down .advantage_down_pc {
    display: block;
    text-align: center; }
    .advantage .container .advantage_down .advantage_down_pc .first ul {
      background-color: #ffd5d5;
      border-radius: 10px; }
      .advantage .container .advantage_down .advantage_down_pc .first ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-weight: 700;
        color: #de1f26; }
      .advantage .container .advantage_down .advantage_down_pc .first ul li:nth-child(1) {
        height: 100px; }
      .advantage .container .advantage_down .advantage_down_pc .first ul li:nth-child(2) {
        height: 90px; }
      .advantage .container .advantage_down .advantage_down_pc .first ul li:nth-child(3) {
        height: 90px; }
      .advantage .container .advantage_down .advantage_down_pc .first ul li:nth-child(4) {
        height: 230px; }
      .advantage .container .advantage_down .advantage_down_pc .first ul li:nth-child(5) {
        height: 130px; }
      .advantage .container .advantage_down .advantage_down_pc .first ul li:nth-child(6) {
        height: 240px; }
    .advantage .container .advantage_down .advantage_down_pc .second ul {
      background-color: #ffdbd1;
      border-radius: 5px;
      border: 2px solid #fb6e46; }
      .advantage .container .advantage_down .advantage_down_pc .second ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-weight: 700;
        text-align: center;
        color: #fb6e46; }
      .advantage .container .advantage_down .advantage_down_pc .second ul li:nth-child(1) {
        border-bottom: 2px solid #fb6e46;
        border-radius: 5px;
        height: 100px; }
      .advantage .container .advantage_down .advantage_down_pc .second ul li:nth-child(2) {
        height: 90px;
        background-color: #ffffff;
        font-size: 32px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400; }
      .advantage .container .advantage_down .advantage_down_pc .second ul li:nth-child(3) {
        height: 90px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400;
        font-size: 26px; }
      .advantage .container .advantage_down .advantage_down_pc .second ul li:nth-child(4) {
        background-color: #ffffff;
        height: 230px;
        font-size: 20px;
        font-weight: 400;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        padding: 0 10px;
        line-height: 25px; }
      .advantage .container .advantage_down .advantage_down_pc .second ul li:nth-child(5) {
        height: 130px;
        font-size: 32px;
        padding: 0 20px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400;
        line-height: 36px; }
      .advantage .container .advantage_down .advantage_down_pc .second ul li:nth-child(6) {
        background-color: #ffffff;
        height: 240px;
        font-size: 22px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400;
        padding: 0 10px;
        line-height: 28px; }
    .advantage .container .advantage_down .advantage_down_pc .third ul {
      background-color: #FFD5D5;
      border-radius: 10px;
      border: 2px solid #ea262c; }
      .advantage .container .advantage_down .advantage_down_pc .third ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 46px;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-weight: 700;
        color: #ea262c; }
      .advantage .container .advantage_down .advantage_down_pc .third ul li:nth-child(1) {
        border-bottom: 2px solid #ea262c;
        border-radius: 5px;
        height: 100px; }
      .advantage .container .advantage_down .advantage_down_pc .third ul li:nth-child(2) {
        height: 90px;
        background: #fff8f8;
        font-size: 32px;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold; }
      .advantage .container .advantage_down .advantage_down_pc .third ul li:nth-child(3) {
        height: 90px;
        font-weight: 400;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-size: 22px;
        line-height: 26px; }
      .advantage .container .advantage_down .advantage_down_pc .third ul li:nth-child(4) {
        background: #fff8f8;
        height: 230px;
        padding: 0 10px;
        font-weight: 400;
        font-size: 20px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        line-height: 26px; }
      .advantage .container .advantage_down .advantage_down_pc .third ul li:nth-child(5) {
        height: 130px;
        font-size: 32px;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-weight: 700;
        padding: 0 100px;
        line-height: 36px; }
      .advantage .container .advantage_down .advantage_down_pc .third ul li:nth-child(6) {
        background: #fff8f8;
        height: 240px;
        font-size: 32px;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-weight: 700;
        padding: 0 60px;
        line-height: 36px; }
    .advantage .container .advantage_down .advantage_down_pc .fourth ul {
      background-color: #ffdbd1;
      border-radius: 5px;
      border: 2px solid #fb6e46; }
      .advantage .container .advantage_down .advantage_down_pc .fourth ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-weight: 700;
        color: #fb6e46; }
      .advantage .container .advantage_down .advantage_down_pc .fourth ul li:nth-child(1) {
        border-bottom: 2px solid #fb6e46;
        border-radius: 5px;
        height: 100px; }
      .advantage .container .advantage_down .advantage_down_pc .fourth ul li:nth-child(2) {
        height: 90px;
        background-color: #ffffff;
        font-size: 32px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400; }
      .advantage .container .advantage_down .advantage_down_pc .fourth ul li:nth-child(3) {
        height: 90px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400;
        font-size: 20px; }
      .advantage .container .advantage_down .advantage_down_pc .fourth ul li:nth-child(4) {
        background-color: #ffffff;
        height: 230px;
        font-size: 20px;
        padding: 0 10px;
        font-weight: 400;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        line-height: 26px; }
      .advantage .container .advantage_down .advantage_down_pc .fourth ul li:nth-child(5) {
        height: 130px;
        font-size: 32px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400;
        padding: 0 20px;
        line-height: 36px; }
      .advantage .container .advantage_down .advantage_down_pc .fourth ul li:nth-child(6) {
        background-color: #ffffff;
        height: 240px;
        font-size: 20px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400;
        padding: 0 10px;
        line-height: 26px; }
  .advantage .container .advantage_down .advantage_down_phone {
    display: none; }

@media (max-width: 768px) {
  .advantage {
    padding-bottom: 30px; }
    .advantage .container .advantage_down .advantage_down_pc {
      display: none; }
    .advantage .container .advantage_down .advantage_down_phone {
      display: block; }
      .advantage .container .advantage_down .advantage_down_phone img {
        margin: 0 auto;
        width: 100%;
        height: auto; } }

/*# sourceMappingURL=advantage.css.map */
