.function {
    width: 100%;
    padding-bottom: 70px;
    background-color: #FEEFEF;

    .container {
        .function_down {
            .item {
                width: 29%;
                height: 190px;
                margin-left: 3.5%;
                margin-top: 34px;
                // box-shadow: 0px 0px 21px 8px rgba(56, 56, 0, 0.08);
                padding: 40px 26px;
                background: #ffffff;
                border-radius: 5px;
                display: flex;

                .item_left {
                    width: 16%;

                    img {
                        width: 40px;
                        height: auto;
                    }
                }


                .item_right {
                    width: 84%;
                    padding-left: 10px;

                    h3 {
                        padding: 0;
                        margin: 0;
                        color: #333333;
                        font-size: 24px;
                        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
                        font-weight: 400;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                        margin-top: 10px;
                        color: #666666;
                        font-size: 16px;
                        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
                        font-weight: 400;
                        line-height: 26px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display:-webkit-box; //作为弹性伸缩盒子模型显示。
                        -webkit-box-orient:vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
                        -webkit-line-clamp:3; //显示的行
                    }
                }

            }
            .item:nth-child(1),.item:nth-child(2),.item:nth-child(3){
                margin-top: 0px;
            }
        }
    }
}

@media (max-width: 768px) {
    .function {
        .container {
            .function_down {
                .item {
                    width: 46%;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .function {
        .container {
            .function_down {
                padding-left: 5%;
                .item {
                    width: 86%;
                    height: auto;
                    // height: 150px;
                    margin-top: 20px;
                    padding: 20px 16px;
                    .item_left {
                        width: 16%;
                        img {
                            width: 36px;
                            height: auto;
                        }
                    }
                    .item_right{
                        h3{
                            font-size: 20px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
                .item:nth-child(1){
                    margin-top: 0;
                }
                .item:nth-child(2),.item:nth-child(3){
                    margin-top: 20px;
                }
            }
        }
    }
}