.introduce {
    width: 100%;
    padding-bottom: 70px;

    .introduce_down {
        .introduce_left {
            padding-left: 20px;

            h1 {
                padding: 0;
                margin: 0;
                width: 180px;
                font-size: 28px;
                font-weight: 700;
                text-align: left;
                color: #333333;
                position: relative;
            }

            h1::after {
                position: absolute;
                top: 0;
                left: -20px;
                content: '';
                width: 8px;
                height: 30px;
                background-color: red;
            }

            h3 {
                font-size: 24px;
                font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
                font-weight: 550;
                text-align: left;
                color: #333333;
                margin: 0;
                margin-top: 22px;
            }
            .fir{
                margin-top: 40px;
            }

            p {
                margin: 0;
                margin-top: 10px;
                width: 90%;
                font-size: 14px;
                font-weight: 400;
                text-align: left;
                font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
                font-weight: 400;
                text-align: left;
                color: #666666;
            }
        }

        .introduce_right {
            padding: 0;
            margin: 0;
            padding-left: 30px;
            position: relative;

            .introduce_pc {
                display: block;
            }

            .introduce_phone {
                display: none;
            }

            .bgc {
                width: 70%;
                height: 270px;
                background-color: red;
                position: absolute;
                top: 60px;
                right: -10px;
                z-index: -1;
            }
        }
    }
}

@media (max-width: 1200px) {
    .introduce {
        .introduce_down {
            .introduce_right {
                .bgc {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .introduce {
        padding-bottom: 30px;
        .introduce_down {
            padding: 0 5%;

            .introduce_left {
                h1 {
                    font-size: 24px;
                }

                h1::after {
                    top: 0;
                    left: -20px;
                    width: 8px;
                    height: 30px;
                }

                h3 {
                    margin-top: 16px;
                    font-size: 20px;
                }

                p {
                    margin-top: 8px;
                    font-size: 14px;
                }
            }

            .introduce_right {
                margin-top: 30px;

                .introduce_pc {
                    display: none;
                }

                .introduce_phone {
                    display: block;
                }

                .bgc {
                    display: block;
                    width: 78%;
                    height: 130px;
                    right: 0px;
                }
            }
        }
    }
}