.nav_index {
    font-size: 20px;
    height: 70px;
    // background-color: rgba(255, 255, 255, 0);
    background-color: #f82424;
    border: none;
    border-bottom: 0.1px solid rgba(192, 192, 192, 0.4);

    .container {
        padding: 0;

        .container-fluid {
            .navbar-header {
                .navbar_phone {
                    display: none;
                }

                .navbar-brand {
                    .nav_logo {
                        width: 130px;
                        height: auto;
                    }
                }
            }

            .navbar-collapse {
                .navbar-nav {
                    li {
                        padding: 0;
                        margin: 0;
                        margin-left: 66px;
                        height: 70px;

                        a {
                            color: #ffffff;
                            padding: 0;
                            padding-top: 20px;
                            padding-bottom: 12px;
                        }
                    }

                    li:hover {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.complement {
    height: 50px;
    display: none;
}

@media (max-width: 992px) {
    .nav_index {
        .container {
            .container-fluid {
                .navbar-header {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .nav_index {
        height: 52px;
        border: none;

        .container {

            .container-fluid {
                .navbar-header {
                    display: block;

                    .navbar_phone {
                        position: absolute;
                        right: 70px;
                        top: -3px;
                        display: inline-block;
                        color: #f82424;

                        button {
                            height: 28px;
                            line-height: 8px;
                            // background-color: rgba(255, 255, 255, 0);

                            a {
                                color: #f82424;
                            }
                        }

                        button:hover {
                            a {
                                text-decoration: none;
                            }
                        }
                    }

                    .navbar-brand {
                        .nav_logo {
                            width: 100px;
                            transform: translate(10px, -4px);
                        }
                    }

                    .navbar_switch {
                        .icon-bar {
                            background-color: #ffffff;
                        }
                    }
                }

                .navbar-collapse {
                    background-color: #ffffff;

                    // background-color: #cccccc;
                    .navbar-nav {
                        li {
                            margin-left: 66px;
                            height: 50px;
                            color: #333;
                            margin: 0;
                            padding: 0;
                            border-bottom: 1px solid rgba(192, 192, 192, 0.4);

                            a {
                                margin: 0;
                                padding: 0;
                                line-height: 46px;
                                color: #333;
                                padding-left: 10%;
                            }
                        }

                        li:nth-child(5) {
                            border: none;
                        }
                    }

                }
            }
        }
    }
    .complement {
        display: block;
    }
}

.nav_bg {
    background-color: #f82424 !important;
}

.is_true_Underline {
    a {
        border-bottom: 2px solid #ffffff;
    }
}